#Tue Oct 11 10:21:02 CEST 2016
DRIVER=com.ibm.db2.jcc.DB2Driver
CONEXION=jdbc\:db2\://SERVER:COM\:60010/DATABASE
USUARIO=miUser
PASSWORD=1234
FORMATO_SALIDA=xlsx

QUERY1=SELECT 2 FROM DUAL
QUERY2=SELECT 2 FROM DUAL
SALIDA1=Hoja1
SALIDA2=Hoja2

PARAMETROS=#FECHA#=CURRENT DATE - 1 days;#ENTIDAD#=0015;
FICHERO_CONDICION=LOG.txt
